<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify OTP</title>
</head>
<body>
    <h1>Check your Email! 📧</h1>
    <p>We just sent a 6-digit code to your inbox.</p>
    
    <form method="POST">
        {% csrf_token %}
        {% if error %}<p style="color: red;">{{ error }}</p>{% endif %}
        
        <label>Enter 6-Digit Code:</label><br>
        <input title="6-digit code" type="text" name="otp" required maxlength="6"><br><br>
        <button type="submit">Verify & Login</button>
    </form>
</body>
</html>